bibtexparser==2.0.0b2
numpy==2.3.1
pandas==2.3.0
pylatexenc==2.10
SQLAlchemy==2.0.41
tqdm==4.67.1
pyaml==25.7.0
markdown==3.10mkdocs==1.6.1
mkdocs-alias-plugin==0.10.2
mkdocs-exclude-search==0.6.6
mkdocs-get-deps==0.2.0
mkdocs-material==9.7.3
mkdocs-material-extensions==1.3.1
